<div class="inventory">
  <span class="block-container">
    <div class="badge">{{ gameService.getInventoryHouses() }}</div>
    <img src="assets/house.svg" alt="house" class="tile" />
  </span>
  <span class="block-container">
    <div class="badge">{{ gameService.getInventoryWindTurbines() }}</div>
    <img src="assets/wind-turbine.svg" alt="wind turbine" class="tile" />
  </span>
  <span class="block-container">
    <div class="badge">{{ gameService.getInventoryCircuses() }}</div>
    <img src="assets/circus.svg" alt="circus" class="tile" />
  </span>
  <span class="block-container">
    <div class="badge">{{ gameService.getInventoryFountains() }}</div>
    <img src="assets/fountain.svg" alt="fountain" class="tile" />
  </span>
</div>
