.progress {
  pointer-events: none;
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: bold;
}
.div{
  left: 20px;
}
.score{
  /* haut | droit | bas | gauche */
  margin: 2px 0 0 50px;
}