<body>
  <div class="register">
    <form>
      <input
        [(ngModel)]="gameService.player.name"
        name="playerName"
        placeholder="Player Name"
        type="text"
      />
      <label for="maps"></label>
      <select [(ngModel)]="gameService.game.map.name" id="maps" name="maps">
        <option name="rand" value="rand" selected="selected">
          Generate Random Map
        </option>
        <option *ngFor="let map of maps" [value]="map">{{ map }}</option>
      </select>
      <button (click)="play()" type="button">Play</button>
    </form>
  </div>
</body>
