<!--<div class='wood-text'>City Builder</div>-->
<body>
  <div class="register">
    <form>
      <input placeholder="Player Name" required="" type="text" />
      <label for="maps"></label>
      <select id="maps" name="maps" required>
        <option name="rand" value="rand" selected="selected">
          Generate Random Map
        </option>
        <option *ngFor="let map of maps" [value]="map">{{ map }}</option>
      </select>
      <a routerLink="/game"><button type="button">Play</button></a>
    </form>
  </div>
</body>
