<div class="flex">
  <div class="group">
    <button ioUndo>
      <i
        class="em em-arrow_backward"
        aria-role="presentation"
        aria-label="BLACK LEFT-POINTING TRIANGLE"
      ></i>
    </button>
    <button ioRedo>
      <i
        class="em em-arrow_forward"
        aria-role="presentation"
        aria-label="BLACK RIGHT-POINTING TRIANGLE"
      ></i>
    </button>
    <button (click)="returnToMenu()">
      <i
        class="em em-back"
        aria-role="presentation"
        aria-label="BACK WITH LEFTWARDS ARROW ABOVE"
      ></i>
      Return to menu
    </button>
  </div>
  <h3>
    <i
      class="em em-repeat"
      aria-role="presentation"
      aria-label="CLOCKWISE RIGHTWARDS AND LEFTWARDS OPEN CIRCLE ARROWS"
    ></i>
    Replay of {{ gameService.player.name }} playing on
    {{ gameService.game.map.name }}
    <i
      class="em em-repeat"
      aria-role="presentation"
      aria-label="CLOCKWISE RIGHTWARDS AND LEFTWARDS OPEN CIRCLE ARROWS"
    ></i>
  </h3>
</div>
