<h3>
  <i
    class="em em-repeat"
    aria-role="presentation"
    aria-label="CLOCKWISE RIGHTWARDS AND LEFTWARDS OPEN CIRCLE ARROWS"
  ></i>
  Replay of {{ gameService.player.name }} playing on
  {{ gameService.game.map.name }}
  <i
    class="em em-repeat"
    aria-role="presentation"
    aria-label="CLOCKWISE RIGHTWARDS AND LEFTWARDS OPEN CIRCLE ARROWS"
  ></i>
</h3>
<button ioUndo>←</button>
<button ioRedo>→</button>
<button (click)="returnToMenu()">
  <i
    class="em em-back"
    aria-role="presentation"
    aria-label="BACK WITH LEFTWARDS ARROW ABOVE"
  ></i>
  Return to menu
</button>
