<div
  [@slide]="gameService.game.ended !== GameStatus.NotEnded ? 'show' : 'hide'"
  class="popup"
>
  <h1>Game ended</h1>
  <p class="end-desc">
    <em style="color: green;"> {{ gameService.game.ended }}</em>
  </p>

  <p>You did great {{ gameService.player.name }} ! Your final score is {{ gameService.game.score }} on the map {{ gameService.game.map.name }}</p>
  <button (click)="returnToMenu()">Save game and return to menu</button>
</div>

<div
  [@focus]="gameService.game.ended !== GameStatus.NotEnded ? 'show' : 'hide'"
  class="focus"
></div>
