.end-desc {
  font-style: italic;
  margin-top: -10px;
  text-align: center;
}
p {
  font-size: larger;
  text-align: center;
  font-weight: 100;
}

button {
  margin-top: 55px;
  font-size: larger;
}
.popup {
  height: 250px;
}

h1 {
  padding-top: 10px;
  font-family: tofu;
  font-size: 30px;
}
