.scoreboard-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -350px;
  width: 700px;
  height: 300px;
  z-index: 4;
  background: #fff;
  border-radius: 5px;
  padding: 10px 40px;
  border: 1px solid #ccc;
}

.scoreboard-popup h1 {
  font-size: 32px;
  text-align: center;
}

.scoreboard-popup h2 {
  font-size: 18px;
}

.scoreboard-popup button {
  float: right;
}

.focus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 3;
  pointer-events: none;
}

@keyframes slide-down {
  from {
    top: 0;
  }

  to {
    top: 50%;
  }
}
