<div
  [@slide]="gameService.game.map.scoreboard.open ? 'show' : 'hide'"
  class="popup"
>
  <h1>Best scores</h1>
  <table id="customers">
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Score</th>
    </tr>  
  
  <tr *ngFor="let score of bestScores; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{bestScores[i].playerName }}</td> 
    <td>{{bestScores[i].score}} points</td>
  </tr>
</table>
  <button id="close_btn" (click)="gameService.game.map.scoreboard.open = false">Close</button>
</div>

<div
  [@focus]="gameService.game.map.scoreboard.open ? 'show' : 'hide'"
  class="focus"
></div>
