.game-bar {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-bar img {
  width: 48px;
}

button {
  margin: 0 10px;
  display: relative;
  line-height: 28pt;
  padding: 0 20px;
  background: #cd853f;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #4a690d, 3px 3px 1px 1px black;
  font-family: tofu;
  font-weight: bold;
}
button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}
.gameName {
  font-family: tofu;
  margin: 0 0 0 8px;
}

.mapName {
  font-family: tofu;
  display: inline-block;
  margin: 10px;
}

.rank {
  margin-right: 10px;
}
