<div class="game-bar">
  <div>
    <button (click)="gameService.game.ended = GameStatus.EndedBySurrender">
      End Game
    </button>
    <button ioUndo>Undo</button>
    <button ioRedo>Redo</button>
  </div>

  <div class="rank">
    <h1 class="mapName">
      Map : {{ gameService.game.map.name }} <br />Player :
      {{ gameService.player.name }}
    </h1>
    <button (click)="gameService.game.map.scoreboard.open = true">
      <img src="/assets/ranking.svg" alt="" srcset="" />
    </button>
  </div>
</div>
