.inventory {
  position: absolute;
  bottom: 20px;
  left: 15px;
  padding: 0px;
  border-radius: 12px;
  box-shadow: 0 0 1em #CD853F;
  border: 15px solid transparent;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.block-container {
  cursor: pointer;
  pointer-events: all;
  position: relative;
  margin: 0 10px;
  display: inline-block;
  height: 58px;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 1em #ccc;
  border: 2px solid transparent;
}

.block-container-outline {
  border: 2px solid #498bd8;
}

.block-container img {
  pointer-events: none;
}

.badge {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #498bd8;
  color: #fff;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
  animation: fadeIn 4s;
  
}
